{% extends 'base.html' %}

{% block content %}
<div class="shadow mt-5" style="text-align:center;">
	<div class="component-main">
		<nav class="navbar navbar-expand-lg shadow-sm pb-1" id="navbar">
			<div class="container">
				<a class="navbar-brand" id="logo" href="#"><img  class="editable img-logo" src="images/logo_2.png" width="120" alt="logo" query-selector=".component-main .img-logo"></a>
				<a class="button nav-link btn contact_btn px-3 ml-auto mr-3 d-block d-lg-none typeform-share a-applynow editable" href="https://form.typeform.com/to/wzbh8PkD?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank" query-selector=".component-main .a-applynow">Apply Now</a> 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="border: none; background: #3726A6; color: #fff;"><i class="fas fa-bars"></i></button>
				<div class="collapse navbar-collapse justify-content-end py-4 py-lg-0" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item mr-3">
							<a class="nav-link nav_btn a-fees editable" href="fees.htm" query-selector=".component-main .a-fees">Fees &amp; ISA</a>
						</li>
						<li class="nav-item mr-5">
							<a class="nav-link nav_btn typeform-share a-hire" href="https://form.typeform.com/to/GK8sI20t?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank" query-selector=".component-main .a-hire">Hire from us</a>
						</li>

						<li class="nav-item py-2 py-lg-0 d-none d-lg-block">						
							<a class="button nav-link btn contact_btn px-3 typeform-share a-apply editable" href="https://form.typeform.com/to/wzbh8PkD?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank" query-selector=".component-main .a-apply">Apply Now</a> 
						</li>
					</ul>
				</div>
			</div>  
		</nav>
		<div class="d-flex align-content-center flex-wrap" id="home_">
			<div class="container-fluid">
				<div class="col-lg-8 offset-lg-2 my-4 mt-5 pt-5 text-center">
					<h1 id="get_head" class="h1-getjob editable" query-selector=".component-main .h1-getjob">Get Job. Pay Later<sup>*</sup></h1>
					<h1 class="mt-2 h1-become editable" id="home_head" query-selector=".component-main .h1-become">Become a Software Engineer</h1>
					<p class="home_desc pt-2 p-learn editable" query-selector=".component-main .p-learn">Learn from professionals working in tech giants and pay after getting a job of minimum <mark>₹5 LPA</mark></p>
					<a href="#curriculum" class="btn mt-3 px-4 py-2 shadow _action_btn_apply a-explore editable" query-selector=".component-main .a-explore">Explore Our Programs</a>
				</div>
				<div class="col-lg-6 offset-lg-3 my-5 text-center">
					<img src="images/landing_img.png" class="img-landing_img img-fluid editable" id="landing_img" alt="software engineering" query-selector=".component-main .img-landing_img">
				</div>
			</div>
		</div>
		<div class="container-fluid pt-4 pb-5 p-md-5" id="requirements">
			<div class="col-lg-8 offset-lg-2">
				<p class="requirements_text pt-3 p-aspire editable" query-selector=".component-main .p-aspire">
					Aspire to become a coder? Start learning with Awakinn and grab the best!
				</p>
				<div class="row pt-4">
					<div class="col-md-6">
						<p class="requirements_point_head p-whatyouget editable" query-selector=".component-main .p-whatyouget">
							What you get:
						</p>
						<p class="requirements_points p-requiredpoints editable" query-selector=".component-main .p-requiredpoints">
							<i class="fas fa-check-circle"></i> Become a Software Engineer
							<br><i class="fas fa-check-circle"></i> Pay after getting a job*
							<br><i class="fas fa-check-circle"></i> Live interactive sessions
							<br><i class="fas fa-check-circle"></i> Interview Preparation
							<br><i class="fas fa-check-circle"></i> 24*7 Access
							<br><i class="fas fa-check-circle"></i> Flexible Timings
						  <br><i class="fas fa-check-circle"></i> Anytime Doubt Sessions
							<br><i class="fas fa-check-circle"></i> Live Projects
							<br><i class="fas fa-check-circle"></i> Open Source Contribution
						</p>
					</div>
					<div class="col-md-6 pt-4 pt-md-0">
						<p class="requirements_point_head p-requirements editable" query-selector=".component-main .p-requirements">
							Requirements:
						</p>
						<p class="requirements_points p-getpoints editable" query-selector=".component-main .p-getpoints">
							<i class="fas fa-arrow-alt-circle-right"></i> No coding background required
							<br><i class="fas fa-arrow-alt-circle-right"></i> Personal laptop
							<br><i class="fas fa-arrow-alt-circle-right"></i> Stable internet connection
							<br><i class="fas fa-arrow-alt-circle-right"></i> Passion to learn
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="editContentModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="editModalLabel">Edit Content</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
			<form class="modal-form" method="POST" action="{{ url_for('edit_Content') }}">
				<input type="hidden" class="element-selector" name="element-selector">
					<div class="container-fluid">
						<ul class="nav nav-tabs" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link" href="#text-content" id="text-tab" data-toggle="tab" role="tab" aria-controls="text-content" aria-selected="true">Text</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#attribute-content" id="attribute-tab" data-toggle="tab" role="tab" aria-controls="attribute-content" aria-selected="true">Attributes</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#style-content" id="style-tab" data-toggle="tab" role="tab" aria-controls="style-content" aria-selected="true">Style</a>
						  </li>
						</ul>
						<!-- Tab contents -->
						<div class="tab-content" id="TabContent">
						  <div class="tab-pane fade show active" id="text-content" role="tabpanel" aria-labelledby="text-tab">
						  	<textarea class="modal-text form-control mt-3" name="element_html" width="400px"></textarea>
						  	<input class="modal-image-upload" type="file" name="image_file">
						  	<input type="hidden" name="image_bin" class="modal-image-bin">
						  </div>
						  <div class="tab-pane fade" id="attribute-content" role="tabpanel" aria-labelledby="attribute-tab">
						  	<p class="small mt-2 field-empty-message" style="color:red;display: none;">All fields are required *</p>
						  	<div class="modal-form-attributes">
									
								</div>
								<hr>
								<div class="modal-form-added-attributes">
									
								</div>
								<button type="button" class="btn btn-outline-primary add-attributes-button mt-2">Add Attributes</button>
								<div class="modal-form-add-attributes">

								</div>
						  </div>
						  <div class="tab-pane fade" id="style-content" role="tabpanel" aria-labelledby="style-tab">
						  	<p class="small mt-2 field-empty-message" style="color:red;display: none;">All fields are required *</p>
						  	<div class="modal-form-styles">
						  		
						  	</div>
						  	<hr>
								<div class="modal-form-added-styles">
									
								</div>
								<button type="button" class="btn btn-outline-primary add-styles-button mt-2">Add Styles</button>
								<div class="modal-form-add-styles">

								</div>
						  </div>
						</div>
					</div>
			</form>
	  </div>
	  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary form-submit-modal">Save changes</button>
	  </div>
  </div>
</div>
</div>

<script>
	
	$(document).ready(function(){

		document.querySelector('.loader-hide').style.opacity = 0;
		
		document.querySelector('.loader').style.display = 'block';



		$.ajax({
			url:'/admin/pages/contentRequest',
			success: function(result){
				for (let selector in result['query_selectors']){
					$(selector).html(result['query_selectors'][selector][0])
					$.each(result['query_selectors'][selector][1], function(i){
						$(selector).attr(i, this);
					})
					$.each(result['query_selectors'][selector][2], function(i){
						$(selector).css(i, this);
					})
				}
				document.querySelector('.loader-hide').style.opacity = 1;
						
				document.querySelector('.loader').style.display = 'none';
			}
		})



// For registering attributes of elements in database

		// let query_selectors = {}

		// for (let i of $('.editable')){
		// 	let selector = $(i).attr('query-selector');
		// 	let attribute = {}
		// 	$.each(i.attributes, function(){

		// 		attribute[this.name] = this.value;

		// 	})
		// 	query_selectors[selector] = attribute
		// }

		// console.log(query_selectors);


		// $.ajax({
		// 	type:'POST',
		// 	url:'/admin/pages/addAttributesRequest',
		// 	success:function(result){
		// 		console.log(result);
		// 	},
		// 	contentType: 'application/json',
		// 	data: JSON.stringify({'data':query_selectors})
		// })

// For registering query selectors of editables

		// let query_selectors = {}

		// for (let i of $('.editable')){
		// 	query_selectors[$(i).attr('query-selector')] = $(i).html();
		// }

		// console.log(query_selectors);


		// $.ajax({
		// 	type:'POST',
		// 	url:'/admin/pages/addelementsRequest',
		// 	success:function(result){
		// 		console.log(result);
		// 	},
		// 	contentType: 'application/json',
		// 	data: JSON.stringify({'data':query_selectors})
		// })


		// $(document).on('change', '.attribute-name', function(){

		// })

		$(document).on('click', '.delete-attribute', function(e){
			e.target.parentElement.parentElement.style['display'] = 'none';

			let input_field = $(e.target).parent().siblings('input.form-control');

			input_field.attr('name', 'deleteattr'+'-'+input_field.attr('name').split('-')[1]);

		})

		$(document).on('click', '.remove-attribute', function(){
			$(this).parent().remove();
		})
		let count = 0;

		$(document).on('click', '.attribute-add', function(){


			if ($('.attribute-name').val()!="" && $('.attribute-value').val()!=""){
				let attribute = `<div class="added-attributes shadow p-3">
													<div class="form-group form-inline">
													<label>Attribute Name</label>
													<input type="text" name="addattribute_name-${$('.attribute-name').val()}" class="ml-2 form-control" value="${$('.attribute-name').val()}">
												</div>
												<div class="form-group form-inline">
													<label>Attrubute Value</label>
													<input type="text" name="addattribute_value-${$('.attribute-name').val()}" class="ml-2 form-control" value="${$('.attribute-value').val()}">
												</div>
												<button type="button" class="btn btn-danger remove-attribute">Remove</button>
											 </div>`;
				$('.modal-form-add-attributes').empty();
				$('.add-attributes-button').show();
				$('.modal-form-added-attributes').append(attribute);
			}
			else{
				$('.field-empty-message').show();
			}

		})

		$(document).on('click', '.style-add', function(){


			if ($('.style-name').val()!="" && $('.style-value').val()!=""){
				let style = `<div class="added-styles shadow p-3">
													<div class="form-group form-inline">
													<label>Style Name</label>
													<input type="text" name="addstyle_name-${$('.style-name').val()}" class="ml-2 form-control" value="${$('.style-name').val()}">
												</div>
												<div class="form-group form-inline">
													<label>Style Value</label>
													<input type="text" name="addstyle_value-${$('.style-name').val()}" class="ml-2 form-control" value="${$('.style-value').val()}">
												</div>
												<button type="button" class="btn btn-danger remove-style">Remove</button>
											 </div>`;
				$('.modal-form-add-styles').empty();
				$('.add-styles-button').show();
				$('.modal-form-added-styles').append(style);
			}
			else{
				$('.field-empty-message').show();
			}

		})

		$(document).on('click', '.attribute-cancel', function(){
			$('.modal-form-add-attributes').empty();
			$('.add-attributes-button').show();
		})

		$(document).on('click', '.style-cancel', function(){
			$('.modal-form-add-styles').empty();
			$('.add-styles-button').show();
		})

		$(document).on('click', '.add-attributes-button', function(){
			$('.add-attributes-button').hide();
			let add_attribute = `<div class="form-group mt-3">
														<label>Attribute Name</label>
														<input type="text" class=" form-control attribute-name">
														
													</div>
													
													<div class="form-group">
														<label>Attrubute Value</label>
														<input type="text" class="form-control attribute-value">
											
													</div>
													
													<button type="button" class="btn btn-outline-primary mt-2 mr-2 attribute-add">Add</button>
													<button type="button" class="btn btn-outline-danger attribute-cancel mt-2">Cancel</button>`;

			$('.modal-form-add-attributes').append(add_attribute);

		})

		$(document).on('click', '.add-styles-button', function(){
			$('.add-styles-button').hide();
			let add_style = `<div class="form-group mt-3">
														<label>Style Name</label>
														<input type="text" class=" form-control style-name">
														
													</div>
													
													<div class="form-group">
														<label>Style Value</label>
														<input type="text" class="form-control style-value">
											
													</div>
													
													<button type="button" class="btn btn-outline-primary mt-2 mr-2 style-add">Add</button>
													<button type="button" class="btn btn-outline-danger style-cancel mt-2">Cancel</button>`;
			$('.modal-form-add-styles').append(add_style);
		})

		$(document).on('change', '.modal-image-upload', function(){
			let reader = new FileReader();

				reader.onload = function(){
					$('.modal-image-bin').val(reader.result)
				}

				reader.readAsDataURL($('.modal-image-upload')[0].files[0]);
		})
		

		$('.editable').on('click', function(e){

			let querySelector = $(e.target).attr('query-selector');

			if (e.target.tagName=='IMG'){
				$('#text-tab').text('Upload Image')
				$('.modal-text').hide();
				$('.modal-image-upload').show();

				
			}
			else{
				$('#text-tab').text('Text');
				$('.modal-text').show();
				$('.modal-image-upload').hide();
			}

			$('.element-selector').val(querySelector);
			$('.modal-text').val($(querySelector).html());
			$('.modal-form-attributes').empty();
			$('.modal-form-styles').empty();
			$.each(e.target.attributes, function(){

				if (this.name!='id' && this.name!='class' && this.name!='query-selector'){
					let attribute = `<div class="form-group mt-2 form-inline">
									<label>${this.name}</label>
									<input type="text" class="form-control ml-2" value="${this.value}" name="attr-${this.name}">
									<a><i class="btn delete-attribute far fa-trash-alt"></i></a>
								</div>`
					$('.modal-form-attributes').append(attribute);
				}

			})

			$.each(e.target.style, function(){

				let style = `<div class="form-group mt-2 form-inline">
									<label>${this}</label>
									<input type="text" class="form-control ml-2" value="${e.target.style[this]}" name="${this}">
									<a><i class="btn delete-style far fa-trash-alt"></i></a>
								</div>`;
				$('.modal-form-styles').append(style);
			})
			$('#editContentModal').modal('show');

		})


		$(document).on('click', '.form-submit-modal', function(){



			$('.modal-form').submit();

		})


	})

</script>
{% endblock %}















